    .module {
      padding: 20px;
      margin: 5px;
      text-align: center;
      color: #eee;
      max-height: 120px;
      background-color: #607D8B;
      border-radius: 2px;
    }
    .module:hover {
      background-color: #EEE;
      cursor: pointer;
      color: #607d8b;
    }