/* HeroesComponent's private CSS styles */
.linha {
  background-color: red;
}

.search {
  margin:4px 4px 0 0;
}

.input{
  width:auto;
}

.checkBox {
  width: 2.25em;
}

.espacamento {
  padding: 1em 0 1em 0;
}